<header id="top-header">
    <div class="siteName">
      <a href="/" aria-label="CSE Motors Home" title="">New Motors</a>
    </div>
    <div class="tools">
      <a href="/account/login">My Account</a>
    </div>
</header>